# Server
SERVER_NAME=YuwanaMDM
SERVER_URL=http://localhost:8080
SERVER_PORT=8080

# Configuration
JWT_SECRET=change-me-to-a-random-string
CORS_ORIGINS=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=supersecret
DB_NAME=mdm